table {
    border: 1px solid;
    background-color: rgb(34, 153, 34); /* betűszín */
    color: white;
    font-family: 'Courier New'; /* betűtipus */
    font-size: 30px; /* betűméret */
  } 
  td {background-color: blue;
}
#keses {
    background-color: red;
}   
.elso_oszlop{
  background-color: aqua;
}